In [1]:
import numpy as np
import pandas as pd

# Define the corner points of the large square
top_left = (-122.443436, 47.739691)
top_right = (-122.211350, 47.739691)
bottom_right = (-122.211350, 47.493450)
bottom_left = (-122.443436, 47.493450)

# Calculate increments for 9 steps in each direction (creating 81 squares)
lon_step = (top_right[0] - top_left[0]) / 9
lat_step = (top_left[1] - bottom_left[1]) / 9

# Generating points for the grid
longitudes = np.arange(top_left[0], top_right[0] + lon_step, lon_step)
latitudes = np.arange(top_left[1], bottom_left[1] - lat_step, -lat_step)

# Construct the smaller squares
small_squares = []
for i in range(9):
    for j in range(9):
        # Define corners of each small square
        square_top_left = (longitudes[i], latitudes[j])
        square_top_right = (longitudes[i+1], latitudes[j])
        square_bottom_right = (longitudes[i+1], latitudes[j+1])
        square_bottom_left = (longitudes[i], latitudes[j+1])
        # Add to the list
        small_squares.append([
            square_top_left, 
            square_top_right, 
            square_bottom_right, 
            square_bottom_left, 
            square_top_left  # close the square loop
        ])

# Convert list of small squares into a DataFrame for easy export to Excel
df_squares = pd.DataFrame(small_squares, columns=["Top-Left", "Top-Right", "Bottom-Right", "Bottom-Left", "Closing to Top-Left"])
df_squares

C:\Users\ahska\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,Top-Left,Top-Right,Bottom-Right,Bottom-Left,Closing to Top-Left
0,"(-122.443436, 47.739691)","(-122.41764866666666, 47.739691)","(-122.41764866666666, 47.71233088888889)","(-122.443436, 47.71233088888889)","(-122.443436, 47.739691)"
1,"(-122.443436, 47.71233088888889)","(-122.41764866666666, 47.71233088888889)","(-122.41764866666666, 47.684970777777785)","(-122.443436, 47.684970777777785)","(-122.443436, 47.71233088888889)"
2,"(-122.443436, 47.684970777777785)","(-122.41764866666666, 47.684970777777785)","(-122.41764866666666, 47.65761066666668)","(-122.443436, 47.65761066666668)","(-122.443436, 47.684970777777785)"
3,"(-122.443436, 47.65761066666668)","(-122.41764866666666, 47.65761066666668)","(-122.41764866666666, 47.63025055555557)","(-122.443436, 47.63025055555557)","(-122.443436, 47.65761066666668)"
4,"(-122.443436, 47.63025055555557)","(-122.41764866666666, 47.63025055555557)","(-122.41764866666666, 47.60289044444446)","(-122.443436, 47.60289044444446)","(-122.443436, 47.63025055555557)"
...,...,...,...,...,...
76,"(-122.23713733333328, 47.63025055555557)","(-122.21134999999994, 47.63025055555557)","(-122.21134999999994, 47.60289044444446)","(-122.23713733333328, 47.60289044444446)","(-122.23713733333328, 47.63025055555557)"
77,"(-122.23713733333328, 47.60289044444446)","(-122.21134999999994, 47.60289044444446)","(-122.21134999999994, 47.575530333333354)","(-122.23713733333328, 47.575530333333354)","(-122.23713733333328, 47.60289044444446)"
78,"(-122.23713733333328, 47.575530333333354)","(-122.21134999999994, 47.575530333333354)","(-122.21134999999994, 47.54817022222225)","(-122.23713733333328, 47.54817022222225)","(-122.23713733333328, 47.575530333333354)"
79,"(-122.23713733333328, 47.54817022222225)","(-122.21134999999994, 47.54817022222225)","(-122.21134999999994, 47.52081011111114)","(-122.23713733333328, 47.52081011111114)","(-122.23713733333328, 47.54817022222225)"
80,"(-122.23713733333328, 47.52081011111114)","(-122.21134999999994, 47.52081011111114)","(-122.21134999999994, 47.49345000000003)","(-122.23713733333328, 47.49345000000003)","(-122.23713733333328, 47.52081011111114)"

In [2]:
import pandas as pd

# Assuming df_squares is your DataFrame
df_squares.to_excel("squares_coordinates.xlsx", index=False)

In [8]:
import pandas as pd
import os

# Directory containing the CSV files
directory = 'C:/Users/ahska/Documents/Ahska/UCL/3 - Final Project (Dissertation)/Dissertation 2/Seattle Data (New)'

# Initialize an empty list to store DataFrames
dataframes = []

# Loop through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Read each CSV file into a DataFrame
        df = pd.read_csv(os.path.join(directory, filename))
        # Drop rows that contain the specific text
        df = df[~df.astype(str).apply(lambda x: x.str.contains("In accordance with local MLS rules, some MLS listings are not included in the download")).any(axis=1)]
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('redfin_seattle_dataset.csv', index=False)

print("Combined dataset saved as 'redfin_seattle_dataset.csv'")

C:\Users\ahska\AppData\Local\Temp\ipykernel_2500\2067571988.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dataframes, ignore_index=True)

Combined dataset saved as 'redfin_seattle_dataset.csv'